body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    padding: 0 16px;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h2 {
    font-size: 24px;
    display: block;
    margin-block-start: 0.83rem;
    margin-block-end: 0.83rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
}
li {
    display: list-item;
}

a {
    color: rgb(49, 49, 49);
    text-decoration: none;
    font-weight: 600;
}

/* Nav Styles */
nav {
    display: flex;
    align-items: center;
    padding: 16px 0;
}

.nav-items {
    display: flex;
    list-style-type: none;
    padding: 0;
    align-items: center;
    margin: 0;
    margin-left: auto;
}
.nav-item {
    margin: 8px;
}

/* Footer Styles */
footer {
    margin-top: auto;
    padding: 12px 0;
    text-align: center;
    font-size: 0.875rem;
}

/* Contact Page Styles */
/* Form Styles */
form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 600px;
}
form br {
    display: none;
}